img {
	width: 100%;
	height: 100%;
	border-radius: 4%;
}
h6 {
	font-family: "Playfair Display", serif;
	font-size: larger;
	font-weight: bold;
	text-align: center;
}
#header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
#main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#footer {
	display: flex;
	justify-content: center;
	align-items: center;
}
#websiteTitle {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: xx-large;
	font-family: "Football Attack Regular", Times, serif;
	width: 40%;
	margin-left: 5%;
}

#cards-container {
	display: flex;
	flex-direction: row;
	width: 90%;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.App {
	display: grid;
	grid-template-rows: 70px 1fr 50px;
	height: 100%;
	width: 100%;
}
.score-board {
	align-items: center;
	justify-content: space-evenly;
	font-family: "Playfair Display", serif;
	font-size: larger;
	font-weight: bold;
	width: 90%;
	border: 2px dashed black;
}
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 35vh;
	height: 45vh;
	border: 2px solid palevioletred;
}
.card-img-div {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid;
	border-radius: 5%;
	width: 75%;
	height: 75%;
}
.pd-5px {
	padding: 5px;
}
.mrg-5px {
	margin: 5px;
}
.flex-r {
	display: flex;
	flex-direction: row;
}
@media (max-width: 600px) {
	.card {
		width: 20vh;
		height: 30vh;
	}
	#websiteTitle {
		width: 100%;
	}
}
/*animation for the ball*/
.fa-futbol {
	animation-duration: 2s;
	animation-iteration-count: infinite;
	transform-origin: bottom;
}
.bounce-1 {
	animation-name: bounce-1;
	animation-timing-function: linear;
}
@keyframes bounce-1 {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-20px);
	}
	100% {
		transform: translateY(0);
	}
}
