img {
	width: 90%;
	height: 90%;
}
#header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
#main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#footer {
	display: flex;
	justify-content: center;
	align-items: center;
}
#websiteTitle {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 40%;
	margin-left: 5%;
}

#cards-container {
	display: flex;
	flex-direction: row;
	width: 90%;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.App {
	display: grid;
	grid-template-rows: 70px 1fr 50px;
	height: 100%;
	width: 100%;
}
.score-board {
	align-items: center;
	justify-content: space-evenly;
	width: 90%;
	border: 2px dashed black;
}
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 35vh;
	height: 45vh;
	border: 2px solid palevioletred;
}
.card-img-div {
	display: flex;
	align-items: center;
	justify-content: center;
}
.pd-5px {
	padding: 5px;
}
.mrg-5px {
	margin: 5px;
}
.flex-r {
	display: flex;
	flex-direction: row;
}
@media (max-width: 600px) {
	.card {
		width: 20vh;
		height: 30vh;
	}
}
